header {
  width: 100%;
  padding: 28px 8%;
}

#navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  max-width: 100px;
  height: auto;
}

#nav-list {
  display: flex;
  list-style: none;
  gap: 48px;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

nav a:hover {
  color: #e53939;
}

#mobile-btn {
  display: none;
}

#mobile-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  #nav-list,
  #navbar .btn-default {
    display: none;
  }

  #mobile-btn {
    display: block;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .btn-mobile {
    display: none;
  }

  #mobile-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0px;
  }

  #mobile-nav-list .nav-item {
    list-style: none;
    text-align: center;
  }
}
